{% load static %}

<!-- <nav class="navbar bg-dark navbar-expand-lg navbar-dark" id="myNav" style="margin-top: -40px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item">
            <a class="nav-link" href="/">home</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/blog">dayah</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">about</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-sm navbar-dark main-nav" id="navbar2" style="margin-top: -90px;">
    <div class="container justify-content-center">
        <ul class="nav navbar-nav flex-fill w-100 flex-nowrap">
            <!-- <li class="nav-item">
                <a class="nav-link {% if nbar == 'home' %}active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if nbar == 'dayah' %}active{% endif %}" href="/profil">Dayah</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profil_dayah">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">More</a> -->
            </li>
        </ul>
        <ul class="nav navbar-nav flex-fill justify-content-center">
            <li class="nav-item">
                <a class="nav-link {% if nbar == 'home' %}active{% endif %}" href="/">Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-fill justify-content-center">
            <li class="nav-item">
                <a class="nav-link {% if nbar == 'dayah' %}active{% endif %}" href="/profil">Dayah</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-fill w-100 justify-content-end">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li> -->
        </ul>

</nav>