{% load static %}
<html lang="en">
<head>
    <title>{{title}}</title>

    {% include "snippets2/styles.html" %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 

</head>
<body>
    
    <div class="jumbotron jumbotron-fluid">
            {% include "snippets/navbar.html" %}
            <!-- <div class="container text-white text-center">

                {% block header %}
                  
                {% endblock header %}

            </div> -->
    </div>

    
    {% include "snippets2/nav.html" %}
    <div  id="cont1" style="font-family: cursive;">
        
        {% block cd %}
          
        {% endblock cd %}

    </div>

    {% include "snippets/footer.html" %}
    {% include "snippets2/scripts2.html" %}
    

</body>
</html>